<section class="section-page">
  <div class="breadcrumb">
    <a href="/">Home</a>
    <a href="/tracks">Tracks</a>
    <a href="/track/new">Add Track</a>
  </div>

  <article class='single-form-container'>

      <header class="article-header">
        <h1>Add Track</h1>
      </header>

      <% if @track.errors.any? %>
        <div>
          <strong>There were some issues with your track. Please fix them:</strong>
          <ul>
            <% @track.errors.full_messages.each do |track| %>
              <li><%= track %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <section class="article-body single-form">
        <div class="card">
          <div class="card-copy">
            <form method="POST" action="/tracks/<%= @track.id %>/edit">
              <div>
                <label for='song_title'>Song Title: </label>
                <input type="text" name='song_title' id='song_title' value="<%= @track.song_title %>">
              </div>
              <div>
                <label for='author'>Author: </label>
                <input type='text' name='author' id='author' value="<%= @track.author %>">
              </div>
              <div>
                <label for='about'>About this track: </label>
                <textarea name='about' id='about' rows='15'><%= @track.about %></textarea>
              </div>
              <div>
                <label for='url'>Url: </label>
                <input type='text' name='url' id='url' value="<%= @track.url %>">
              </div>
              <input type='submit' value='submit'>
            </form>
          </div>
        </div>
      </section>

  </article>
</section>