<section class='section-page'>
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>

  <div class="breadcrumb">
    <a href="/">Home</a>
    <a href='/tracks'>Tracks</a>
    <a href='/tracks/<%= @track.id %>'><%= @track.song_title %></a>
  </div>

  <header class="article-header">
    <h1><%= @track.song_title %></h1>
    <h2><em>by <%= @track.author %></em></h2>
    <strong><%= @upvotes %> up</strong>  <em>&</em> <strong><%= @downvotes %> down</strong>
  </header>

  <section class="article-body">
    <div class="copy">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
    </div>

    <div class="meta">
      <p>Added by <%= @track.user %> on <%= @track.added_on %></p>
    </div>
  </section>

  <footer class="article-footer">
    <div class="vote">
      <% if session[:name] %>
        <form class="vote-up" method='POST' action='/tracks/<%= @track.id %>/up'>
          <input type="submit" value="Upvote" class="<% if @user_vote && @user_vote.liked %>active<% end %>">
        </form>

        <form class="vote-down" method='POST' action='/tracks/<%= @track.id %>/down'>
          <input type="submit" value="Downvote" class="<% if @user_vote && !@user_vote.liked %>active<% end %>">
        </form>    
      <% end %>  
    </div>

    <% if session[:uid] == @track.user_id %>
      <form method="POST" action="/tracks/<%= @track.id %>" class="border-bottom">
        <!-- <input type="hidden" name="_method" method="DELETE"> -->
        <p>Do you want to remove this track? &nbsp;&nbsp;<input type="submit" value="Remove"></p>
      </form>
    <% end %>

    <section class="comments">
      <% if @track.comments[0] %>
        <h2>What People are saying about <strong><%= @track.song_title %></strong></h2>
      <% else %>
        <h2>Nobody has reviewed this track yet!</h2>
      <% end %>

      <% @track.comments.order(created_at: :desc).each do |comment| %>
      <div class="comment">
        <div class="comment-image">
          <img src="<%= comment.user.gravitar %>" alt="Logo image">
        </div>
        <div class="comment-content">
          <h1>
            <strong><%= comment.user.first_name + " " + comment.user.last_name %></strong> wrote
          </h1>
          <p><%= comment.comment %></p>
          <p class="comment-detail">
            <%= comment.added_on %> 
            <% if comment.user.id == session[:uid] %> 
              <hr>
              <form method="POST" action="/tracks/<%= @track.id %>/comment/<%= comment.id %>">
                <!-- <input type="hidden" name="_method" method="DELETE"> -->
                <p><input type="submit" value="Remove"></p>
              </form>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>

      <% if session[:name] && !@track.reviewed?(session[:uid]) %>
        <div class="single-form-container">
          <div class="single-form">
            
            <form method='post' action='/tracks/<%= @track.id %>/comment'>
              <h2>Have something to say? <strong>Leave a review!</strong></h2>
              <div>
                <!-- <label for='comment'>Comment</label> -->
                <textarea name='comment' id='comment'></textarea>
              </div>
              <input type="submit" value="submit">
            </form>
          </div>
        </div>
      <% elsif @track.reviewed?(session[:uid]) %>
        <h2>You've already reviewed this!</h2>
      <% else %>
        <h2><a href="/signup">Join now</a> to review this track!</h2>
      <% end %>

    </section>

  </footer>
</section>